ul {
    border: 1px solid black;
    height: 60%;
    list-style-type:none;
    float: none;
    vertical-align: top;
    overflow-y: scroll;
}

li .right { 
    float:left; 
    clear:both;
}

li .left { float:right; }